@import "tailwindcss";

@font-face {
  font-family: 'DM Sans';
  src: url('/font-family/DMSans-Bold.woff2') format('woff2'),
    url('/font-family/DMSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/font-family/DMSans-BoldItalic.woff2') format('woff2'),
    url('/font-family/DMSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/font-family/DMSans-Italic.woff2') format('woff2'),
    url('/font-family/DMSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/font-family/DMSans-Medium.woff2') format('woff2'),
    url('/font-family/DMSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/font-family/DMSans-MediumItalic.woff2') format('woff2'),
    url('/font-family/DMSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/font-family/DMSans-Regular.woff2') format('woff2'),
    url('/font-family/DMSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anton';
  src: url('/font-family/Anton-Regular.woff2') format('woff2'),
    url('/font-family/Anton-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-primary: 'DM Sans'; 
  --font-heading: 'Anton'; 
  --color-primary: #0176BD; 
  --color-textprimary: #0F0F0F; 
}

.container {
  @apply mx-auto md:px-5 px-4
}
html{@apply overflow-x-hidden}
body{@apply font-primary text-sm lg:text-base text-textprimary}
nav a.active{@apply font-bold}

/* header animation */
header{@apply animate-[slideUp_0.8s_ease-out]}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.banner-heading span:empty{@apply block}
.brands-imgs img{@apply opacity-30 duration-800 ease-out brightness-0 hover:opacity-100 hover:brightness-100 max-w-[140px] lg:max-w-[200px]}