@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-primary: "DM Sans"; 
  --font-heading: 'Anton'; 
  --color-primary: #0176BD; 
  --color-textprimary: #0F0F0F; 
}

.container {
  @apply mx-auto md:px-5 px-4
}
html{@apply overflow-x-hidden}
body{@apply font-primary text-sm lg:text-base text-textprimary}
nav a.active{@apply font-bold}

/* header animation */
header{@apply animate-[slideUp_0.8s_ease-out]}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.banner-heading span:empty{@apply block}
.brands-imgs img{@apply opacity-30 duration-800 ease-out brightness-0 hover:opacity-100 hover:brightness-100 max-w-[140px] lg:max-w-[200px]}
